<!DOCTYPE html>
<html>
<head>
    <title>Current State</title>
    <link rel="stylesheet" href="static/style.css">
    <script>
        function initMap() {
            const map = new google.maps.Map(document.getElementById('map'), {
                zoom: 13,
                center: {lat: 45.8150, lng: 15.9819}
            });
            
            {{range .Restaurants}}
            const latLng = "{{.LatLng}}".split(',');
            const lat = parseFloat(latLng[0]);
            const lng = parseFloat(latLng[1]);
            const marker = new google.maps.Marker({
                position: {lat: lat, lng: lng},
                map: map,
                title: '{{.Name}}'
            });
            {{end}}

        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{.GoogleApiKey}}&callback=initMap" async defer></script>
</head>
<body>
<body>
<div id="map-container">
    <div id="map"></div> <!-- Map now has its own container -->
</div>
<div id="state-container">
    <h1>Current State</h1>
    <div id="restaurants">
        <h2>Restaurants</h2>
        <ul>
            {{range .Restaurants}}
            <li>{{.Name}}</li>
            {{end}}
        </ul>
    </div>
    <div id="couriers">
        <h2>Couriers</h2>
        <ul>
            {{range .Couriers}}
            <li>{{.Name}}</li>
            {{end}}
        </ul>
    </div>
    <div id="orders">
        <h2>Active Orders</h2>
        <ul>
            {{range .ActiveOrders}}
            <li>Order #{{.Id}} - Status: {{.Status}}</li>
            {{end}}
        </ul>
    </div>
</div>
</body>

</html>